<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <style>
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to my Image Gallery!</h1>
        <div class="button-container">
            <a href="/image/" class="button">Images</a>
            <a href="/users/register/" class="button">Register</a>
            <a href="/users/login/" class="button">Login</a>
            <a href="/users/profile/" class="button">Profile</a>
        </div>
    </div>

    <footer>
        &copy; 2025 Alexey <p><a href="https://github.com/PlexILIghT/djangoProject">PlexILIghT (github)</p>
    </footer>
</body>
</html>
